<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/burgers_style.css" type="text/css" />
		<title>BIG BURGERS!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>